* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif ;
  color: black;
  font-size: 10px;
  padding: 10px;
  position: relative;
}

h1 {
  text-transform: capitalize;
  text-align: center;
}

header h1 {
  font-size: 175%;
}

footer {
  background-color: black;
  color: whitesmoke;
  font-size: 75%;
  text-align: center;
}

footer > .author {
  color: darkorange; 
}


.section_container {
  width: 100%;
}




section {
  background-color: #aaaaaa;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 90px;
}

section h1 {
  text-align: center;
  width: 100px; 
  margin-left: auto;
  font-size: 125%;
  border-width: 1px;
  border-color: black;
  border-top-style: none ;
  border-right-style: solid ;
  border-bottom-style: solid;
  border-left-style: solid ;
}

section p {
  padding: 10px;
  overflow: auto;
}


#chicken h1{
  background-color: salmon ;
}

#beef h1{
  background-color: crimson ;
  color: white;
}

#sushi h1{
  background-color: darkgoldenrod ;
}

.border {
  border-color: lightgray;
  border-width: 1px;
  border-style: none;
  padding: 10px 5px 10px 5px;
}

@media only screen and (min-width: 992px) {
  .col_l_12 {
      width: 100%;
      float: left;
  } 
  .col_l_4 {
      width: 33.33%;
      float: left;
  } 
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .col_m_6 {
      width: 50%;
      float: left;
  }
  .col_m_12 {
      width: 100%;
      float: left;
  }
}